:root {
    --ff: "Poppins", sans-serif;
    --transition: all 0.2s ease-in-out;
    --color-primary: #2a4dd0;
    --color-secondary: #4ca154;
    --color3: #111729;
    --color4: #223344;
    --color5: #909193;
    --color6: #f2f9fe;
    --color7: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
}
.dark-mode {
    background-color: var(--color3);
}

/* font styles */
/* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
} */

/* nav */
nav {
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 50%;
}

.hamburger {
    display: none;
    flex-direction: column;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
}

ul li a {
    text-decoration: none;
    font-family: var(--ff);
    font-weight: 600;
    font-size: 1rem;
    color: var(--color5);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
ul li a:hover,
ul li a[href="#about-us"] {
    color: var(--color4);
}
.dark-mode ul li a {
    color: #909193;
}
.dark-mode ul li a:hover,
.dark-mode li a[href="#about-us"] {
    color: var(--color7);
}

.dark-mode-toggle {
    display: flex;
    border-radius: 2rem;
    border: none;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: #223344;
    cursor: pointer;
    width: fit-content;
}

.dark-mode-toggle img:last-child {
    background-color: white;
    border-radius: 50%;
    margin-left: 0.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sidebar {
    display: none;
    background-color: white;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    transform: translateX(25rem);
    -webkit-transform: translateX(25rem);
    -moz-transform: translateX(25rem);
    -ms-transform: translateX(25rem);
    -o-transform: translateX(25rem);
    opacity: 0;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
.sidebar-active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    opacity: 1;
}

.sidebar h1 {
    margin-bottom: 2rem;
}

.sidebar h1 a {
    text-decoration: none;
    font-family: var(--ff);
    color: var(--color5);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.sidebar h1 a[href="#about-us"],
.sidebar h1 a:hover {
    color: var(--color4);
}

.sidebar .dark-mode-toggle {
    scale: 0.8;
}

.sidebar-close {
    cursor: pointer;
    font-size: 2rem;
    align-self: end;
    margin: 1rem 1rem 5rem 0;
}

/* main */
main {
    margin-top: 4rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
}
.text-container {
    font-family: var(--ff);
}
.text-container h4 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.text-container h1 {
    font-size: 3.75rem;
    max-width: 25rem;
    margin-bottom: 2rem;
}

.dark-mode .text-container h4,
.dark-mode .text-container h1 {
    color: var(--color7);
}

.text-container h3 {
    font-size: 1.125rem;
    color: var(--color5);
    font-weight: 500;
    max-width: 30rem;
    margin-bottom: 4rem;
}
.text-container .btn-group {
    margin-bottom: 4rem;
}
.text-container .btn-group a:first-child {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--color-primary);
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-right: 2rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.text-container .btn-group a:first-child:hover {
    background-color: #2441ad;
}

.text-container ul {
    display: flex;
    list-style: none;
}
.text-container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color5);
}
.text-container ul li:first-child {
    margin-right: 1rem;
}

.text-container ul li img {
    margin-right: 0.2rem;
}
.text-container ul li p {
    font-size: 0.875rem;
    text-wrap: nowrap;
}
.text-container .btn-group a:last-child {
    font-weight: 600;
    color: var(--color-primary);
}

/* hero img */
.hero-img-container {
    width: 46%;
}
.hero-img-container img {
    width: 100%;
}
@media screen and (max-width: 1024px) {
    main {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }
    nav {
        padding: 1rem 2rem;
    }

    .hero-img-container {
        width: auto;
    }
    .text-container {
        width: auto;
    }
    .text-container {
        padding: 5rem 0;
    }
    .text-container h1 {
        max-width: 100%;
    }
}
@media screen and (max-width: 640px) {
    main {
        flex-direction: column-reverse;
        padding: 0 0rem;
    }
    .sidebar {
        display: flex;
    }
    .text-container {
        padding: 6rem 1rem;
    }
    nav {
        padding: 1rem 1rem;
    }
    nav ul,
    nav .dark-mode-toggle {
        display: none;
    }

    nav .hamburger {
        display: flex;
    }

    .text-container h1 {
        font-size: 3rem;
    }
}
